*.pyc
*.log
.DS_Store
settings_dev.py

dev.db
.coverage
*.pyc
django.log
django.log*
project/settings_dev.py
chef/cookbooks/palewire/files/default/id_rsa
chef/cookbooks/palewire/files/default/id_rsa.pub
chef/cookbooks/palewire/files/default/authorized_keys
*.egg-*
.static/
.media/
celery.log
*.sqlite
.DS_Store
